.banner{
  background-color: #09101f;
  color: #fcf5f2;
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 136px;
}

.banner-2{
  background-color: #09101f;
  color: #fcf5f2;
  display: grid;
  grid-template-columns: 60% 40%;
}

.banner-3{
  background-color: #09101f;
  color: #fcf5f2;
  display: grid;
  grid-template-columns: 40% 60%;
}

.banner-4{
  background-color: #3b4559;
  color: #fcf5f2;
  display: grid;
  grid-template-columns: 60% 40%;
}

.banner-4 .button-shop{
  width: 150px;
  height: 50px;
  font-size: 17px;
  font-weight: 500;
  background-color: #3b4559;
  border: solid 2px #fcf5f2;
  color: #fcf5f2;
  cursor: pointer;
}

.banner-4 .button-shop:hover{
  background-color: #fcf5f2;
  color: #3b4559;
  transition: background-color 0.25s;
}

.banner-content{
  display: flex;
  flex-direction: column;
  padding: 55px 55px 160px 55px;
}

.banner-content-title{
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 18px;
  letter-spacing: 3px;
}

.banner-content-description{
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 24px;
}

.button-shop{
  width: 150px;
  height: 50px;
  font-size: 17px;
  font-weight: 500;
  background-color: #09101f;
  border: solid 2px #fcf5f2;
  color: #fcf5f2;
  cursor: pointer;
}

.button-shop:hover{
  background-color: #fcf5f2;
  color: #09101f;
  transition: background-color 0.25s;
}

.thumbnails{
  width: 100%;
  object-fit: cover;
}
