.further-info-megacontainer{
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
  margin-left: 80px;
  margin-right: 80px;
  padding: 20px;
}

.further-info-container{
  display: flex;
  flex-direction: column;
}

.further-info-title{
  margin: 10px 3px;
  font-size: 16px;
  color: white;
  letter-spacing: 0.7px;
  font-weight: 700;
}

.further-info-item{
  margin: 7px 3px;
  font-size: 15px;
  color: rgb(185, 184, 184);
  cursor: pointer;
  letter-spacing: 0.7px;
}

.further-info-item:hover{
  text-decoration: underline;
  transition: all 0.15s;
}

.section-further-info{
  background-color: #09101f;
}