.services-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.services-header{
  justify-items: center;
  align-items: center;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 3px;
  color: #3b4559;
}

.services-items-container{
  display: flex;
  max-width: 950px;
}

.services-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 50px 50px;
}

.delivery-icon{
  object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 125px;
  margin-bottom: 33px;
}

.services-items-title{
  font-size: 35px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #3b4559;
}

.services-items-description{
  margin-bottom: 40px;
  color: #5d5d5d;
}

.services-items-button{
  padding: 15px 40px;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.7px;
  background-color: #09101f;
  color: #fcf5f2;
  border: none;
  border-radius: 2px;
  padding: 20px;
}

.services-items-button:hover{
  background-color: #3b4559;
  transition: background-color 0.50s;
  cursor: pointer;
}